version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 10
    groups:
      npm-minor-patch:
        update-types:
          - 'minor'
          - 'patch'

  - package-ecosystem: 'pip'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 10
    groups:
      pip-minor-patch:
        update-types:
          - 'minor'
          - 'patch'
